/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-black: #181818;
  --color-grey: #d9d9d9;

  --primary-first: #f7823e;
  --primary-second: #cd5d47;
  --primary-third: #8b484e;

  --section-width-l: 1200px;
  --section-width-m: 900px;
  --section-width-s: 600px;

  --shadow-1: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px,
    rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;

  --gradient-1: linear-gradient(136deg, #f7823e 0%, #8b484e 100%);
}

:root.light-theme {
  --color-white: #181818;
  --color-black: #e3e0ee;
  --color-grey: #c1bfbf;

  --primary-first: #f9d0a8;
  --primary-second: #e7a7a3;
  --primary-third: #ffb9ab;

  --section-width-l: 1200px;
  --section-width-m: 900px;
  --section-width-s: 600px;

  --shadow-1: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  --gradient-1: linear-gradient(
    136deg,
    #f9d0a8 0%,
    #ecb3a4 70.31%,
    #e7a7a3 100%
  );
}

@media (prefers-color-scheme: dark) {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

section,
.page--width {
  width: var(--section-width-l);
}

.button {
  display: flex;
  width: 104px;
  height: 41px;
  background-color: var(--color-grey);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

@media screen and (max-width: 1250px) {
  section,
  .page--width {
    width: var(--section-width-m);
  }
}

@media screen and (max-width: 900px) {
  .button {
    width: 94px;
    height: 31px;
  }
}

@media screen and (max-width: 600px) {
  .button {
    width: 84px;
    height: 21px;
  }
}
