/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-white: #ffffff;
  --color-black: #181818;
  --color-grey: #d9d9d9;
  --color-glass: #d9d9d936;

  --primary-first: #f7823e;
  --primary-second: #cd5d47;
  --primary-third: #8b484e;
}

@media (prefers-color-scheme: dark) {
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

.button {
  display: flex;
  width: 104px;
  height: 41px;
  background-color: var(--color-grey);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
